{% extends 'base.html' %}
{% block content %} 
       
        <div class="header-1">          
            <div id="sobre-nos">
           
                <h2><em>Coordenadas</em></h2> <!-- tag em, para deixar em intálico -->                
                        <p class="texto2">
                            Escolha as coordenadas <br> <!-- tag br, para quebra de linha -->
                             <br>
                        </p>
                <h3>Escolha</h3>

                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                   <p> latitude {{ form.latitude }} </p>
                   <p> longitude {{ form.longitude }} </p>
                    <p>{{ form.submit() }}</p>
                </form>
     
            </div>         
		</div> 
 
{% endblock  %}