{% extends 'base.html' %}
{% block content %} 
       
        <div class="header-1">          
            <div id="sobre-nos">
           
                <h2><em>Previsão do Tempo</em></h2> <!-- tag em, para deixar em intálico -->                
                        <p class="texto2">
                            Nesta página  os dados <br> <!-- tag br, para quebra de linha -->
                            serão consumidos localmente. <br>
                        </p>
                <h3>Escolha cidade</h3>

                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.cidade }}
                    <p>{{ form.submit() }}</p>
                </form>
     
            </div>         
		</div> 
 
{% endblock  %}