{% extends 'base.html' %}
{% block content %}
        <div id="sobre-nos">

			<p class="sobre">       
                <em> SOBRE NÓS  </em> <br>    
                Bem vindo ao site! <br>
				Sistema desenvolvido  <br> <!-- tag br, para quebra de linha -->
                para monitorar <br>
                a previsão do tempo. <br>
                IFSC Câmpus Lages. <br>
			</p>
		</div>

        <fieldset class="linha"></fieldset>  <!-- é a linha -->  
        
        <footer class="rodape">
            <p class="direitos">
                 &copy; Todos os direitos reservados  
            </p>
        </footer>
        
{% endblock %}